@import url("https://fonts.googleapis.com/css?family=Muli");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  background-color: #2b3133;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: #2b3133;
  text-align: center;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 6px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 40px;
  padding: 15px 20px;
  position: relative;
}

.team {
  background-color: #e05120;
  color: white;
  font-size: 20px;
  padding: 2px 10px;
}

#user-team {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-team {
  position: absolute;
  top: 30px;
  right: -35px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choices {
  margin: 20px 0px;
  text-align: center;
}

.choice {
  display: inline-block;
  transition: 0.3s;
  border: 3px solid white;
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
}
.choice:hover {
  background-color: white;
}

.choice-win:hover {
  background-color: green;
}

.choice-lose:hover {
  background-color: red;
}

.choice-draw:hover {
  background-color: grey;
}

#r {
  margin: 2px 7px;
}
#p {
  margin: 2px 7px;
}
#s {
  margin: 2px 7px;
}

#message {
  text-align: center;
  font-size: 40px;
  color: white;
}
